{{ partial "header" . }}
<body>
{{ partial "nav" . }}
{{ partial "hero" .}}
<section class="section">
  <div class="container">
    <div class="content">
      {{ .Content }}
    </div>
    {{ if (ne ($.Param "sharingicons") false) }}
    {{ partial "sharing.html" . }}
    {{ end }}
  </div>
  {{ if .IsTranslated }}
  <div class="translations">
    <span class="subtitle">Translations Available</span>
    <ul>
        {{ range .Translations }}
        <li>
            <a href="{{ .Permalink }}">
              {{ if (eq .Lang "en") }}
                English
              {{ else }}
                日本語
              {{ end }}
              : {{ .Title }}{{ if .IsPage }}{{ end }}</a>
        </li>
        {{ end}}
    </ul>
  </div>
  {{ end }}
</section>
{{ partial "disqus" . }}
{{ partial "footer" . }}
</body>
