{{ partial "header" . }}
<body>
{{ partial "nav" . }}
<section class="section">
  {{ partial "breadcrumb" . }}
  <div class="container">
    <h1 class="title">{{ .Title }}</h1>
    <h2 class="subtitle is-5">
      {{ if eq (.Date.Format "January 2, 2006") (.Lastmod.Format "January 2, 2006") }}
        {{ .Date.Format "January 2, 2006" }} {{ if (ne ($.Param "displayauthor") false) }}by {{ .Params.author | default .Site.Params.author }}{{ end }}
      {{ else }}
        {{ .Date.Format "January 2, 2006" }} - {{ .Lastmod.Format "January 2, 2006" }} {{ if (ne ($.Param "displayauthor") false) }}by {{ .Params.author | default .Site.Params.author }}{{ end }}
      {{ end }}
    </h2>
    {{ if .Params.tags }}
      {{ partial "tags" .Params.tags }}
    {{ end }}
    {{ partial "translations" . }}
    <div class="content">
      {{ .Content | emojify }}
    </div>
    {{ if (ne ($.Param "sharingicons") false) }}
    {{ partial "sharing.html" . }}
    {{ end }}
  </div>
</section>
{{ if not .IsHome }}
{{ partial "prevnext" . }}
{{ end }}
{{ partial "disqus" . }}
{{ partial "footer" . }}
</body>
