{{ if .Params.keywords }}
{{ .Scratch.Set "keywords" (delimit .Params.Keywords ", ") }}
{{ else }}
{{ .Scratch.Set "keywords" (delimit .Site.Params.Keywords ", ") }}
{{ end }}
{{ if eq .IsHome true }}
{{ .Scratch.Set "title" .Site.Title }}
{{ .Scratch.Set "desc" .Site.Params.description }}
{{ .Scratch.Set "type" "website" }}
{{ else }}
{{ .Scratch.Set "title" (printf "%s - %s" .Title .Site.Title) }}
{{ if .Truncated }}
{{ .Scratch.Set "desc" (printf "%s..." (.Summary | plainify)) }}
{{ else }}
{{ .Scratch.Set "desc" (.Summary | plainify) }}
{{ end }}
{{ .Scratch.Set "type" "article" }}
{{ end }}
<!DOCTYPE html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index,follow">
<meta content='{{ .Scratch.Get "keywords" }}' name="keywords">
<meta content="{{ .Site.Params.Author }}" name="author">
<meta content='{{ .Scratch.Get "desc" }}' name="description">
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:title" content='{{ .Scratch.Get "title" }}'>
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:description" content='{{ .Scratch.Get "desc" }}'>
<meta property="og:type" content='{{ .Scratch.Get "type" }}' />
<title>{{ .Scratch.Get "title" }}</title>
<!-- enable inline math equations-->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
<link rel="shortcut icon" href="{{ .Site.BaseURL }}avatar.ico">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
{{ with .Site.Params.highlight.style }}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/{{ . }}.min.css">
{{ else }}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css" integrity="sha256-Zd1icfZ72UBmsId/mUcagrmN7IN5Qkrvh75ICHIQVTk=" crossorigin="anonymous" />
{{ end }}
{{ if .IsHome }}
<meta name="google-site-verification" content="yvbo1Z8dYxbPOZgDtQmk0KIl8gqC36ggyi0jcb3dcOA" />
{{ end }}
</head>
