{{ with .Params.backgroundimage }}
<div class="hero-body has-background">
<img class="background-image is-whiter" src="{{ . }}"/>
{{ else }}
<div class="hero-body">
{{ end }}
  <div class="container">
    <div class="columns is-vcentered">
      {{ if .Params.image }}
      <div class="column is-5 is-offset-1">
        {{ if .Params.catchcopy }}
        <h1 class="title is-1 is-bold is-spaced">
          {{ .Params.catchcopy }}
        </h1>
        {{ with .Params.description }}
        <h2 class="subtitle is-5 is-muted">
          {{ . }}
        </h2>
        {{ end }}
        {{ partial "hero-link" . }}
        {{ end }}
      </div>
      <div class="column is-5 is-offset-1">
        <figure class="image is-4by3">
          <img src="{{ .Params.image }}" alt="Project Image" style="width: 100%; height: auto;%"/>
        </figure>
      </div>
      {{ else }}
      <div class="column is-10 is-offset-1 has-text-centered">
        {{ if .Params.catchcopy }}
        <h1 class="title is-1 is-bold is-spaced">
          {{ .Params.catchcopy }}
        </h1>
        {{ with .Params.description }}
        <h2 class="subtitle is-5 is-muted">
          {{ . }}
        </h2>
        {{ end }}
        {{ partial "hero-link" . }}
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</div>
