{{ if where .c.Data.Pages "Section" .Section }}
<section class="section">
  <h2 class="title center"><a href="{{ .BaseURL | absLangURL }}{{ .Section }}">{{ .Section }}<a></h2>
  <div class="container">
  {{ range first .Limit (where .c.Data.Pages "Section" .Section) }}
    <article class="content control has-addons">
      <h3 class="title"><a href="{{ .Permalink }}">{{ .Params.reference }}</a>{{ if .Draft }} ::Draft{{ end }}</h3>
      {{ partial "iconlinks" . }}
    </article>
  {{ end }}
  </div>
</section>
{{ end }}
