{{ if .Params.ogimage }}
<article class="column is-4">
  <div class="card">
    <div class="card-image">
      <figure class="image">
        <img src="{{ .Site.BaseURL }}{{ .File.Dir }}{{ .Params.ogimage }}">
      </figure>
    </div>
    <div class="card-content">
      {{ if eq .Section "publications" }}
      <h3 class="title"><a href="{{ .Permalink }}">{{ .Params.reference | safeHTML }}</a>{{ if .Draft }} ::Draft{{ end }}
      </h3>
      {{ partial "iconlinks" . }}
      {{ else }}
      {{ if .Params.shorttitle }}
      <h3 class="title"><a href="{{ .Permalink }}">{{ .Params.shorttitle | safeHTML }}</a>{{ if .Draft }} ::Draft{{ end }}</h3>
      {{ else }}
      <h3 class="title"><a href="{{ .Permalink }}">{{ .Params.title | safeHTML }}</a>{{ if .Draft }} ::Draft{{ end }}</h3>
      {{ end }}
      <h4 class="subtitle is-5">
        {{ if eq (.Date.Format "January 2, 2006") (.Lastmod.Format "January 2, 2006") }}
        {{ .Date.Format "January 2, 2006" }}
        {{ else }}
        {{ .Date.Format "January 2, 2006" }} - {{ .Lastmod.Format "January 2, 2006" }}
        {{ end }}
      </h4>
      {{ if .Params.tags }}
      {{ partial "tags" .Params.tags }}
      {{ end }}
      <div class="content">
        {{ .Summary | plainify | safeHTML }}
        {{ if .Truncated }}
        ...<a class="button is-text" href="{{ .Permalink }}" style="height:20px">
          Read more
          <span class="icon is-small">
            <i class="fa fa-angle-double-right"></i>
          </span>
        </a>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</article>
{{ else }}
<article class="column is-12">
  <div class="box content control has-addons">
    {{ if eq .Section "publications" }}
    <h3 class="title"><a href="{{ .Permalink }}">{{ .Params.reference | safeHTML }}</a>{{ if .Draft }} ::Draft{{ end }}</h3>
    {{ partial "iconlinks" . }}
    {{ else }}
    <h3 class="title"><a href="{{ .Permalink }}">{{ .Params.title | safeHTML }}</a>{{ if .Draft }} ::Draft{{ end }}</h3>
    <h4 class="subtitle is-5">
      {{ if eq (.Date.Format "January 2, 2006") (.Lastmod.Format "January 2, 2006") }}
      {{ .Date.Format "January 2, 2006" }}
      {{ else }}
      {{ .Date.Format "January 2, 2006" }} - {{ .Lastmod.Format "January 2, 2006" }}
      {{ end }}
    </h4>
    {{ if .Params.tags }}
    {{ partial "tags" .Params.tags }}
    {{ end }}
    <div class="content">
      {{ .Summary | plainify | safeHTML }}
      {{ if .Truncated }}
      ...<a class="button is-text" href="{{ .Permalink }}" style="height:20px">
        Read more
        <span class="icon is-small">
          <i class="fa fa-angle-double-right"></i>
        </span>
      </a>
      {{ end }}
    </div>
    {{ end }}
  </div>
</article>
{{ end }}
