
<nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ .Site.BaseURL }}{{with .Site.Params.languageURL}}{{ . }}{{ end }}"><span class="title is-4">{{ .Site.Title }}</span></a>
      {{ range .Site.Params.social }}
      <a class="navbar-item is-hidden-desktop" href="{{ .url }}" target="_blank">
        <span class="icon">
          <i class="fa {{ .fa_icon }}"></i>
        </span>
      </a>
      {{ end }}
      <a role="button" class="navbar-burger" data-target="navMenuContents" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navMenuContents" class="navbar-menu">
      <div class="navbar-start">
        {{ if where .Site.Pages "Section" "publications" }}
        <a class="navbar-item" href="{{ .Site.BaseURL }}{{with .Site.Params.languageURL}}{{ . }}{{ end }}/publications">
          Publications
        </a>
        {{ end }}
        {{ if where .Site.Pages "Section" "posts" }}
        <a class="navbar-item" href="{{ .Site.BaseURL }}{{with .Site.Params.languageURL}}{{ . }}{{ end }}/posts">
          Posts
        </a>
        {{ end }}
      </div>
      <div class="navbar-end">
        {{ range .Site.Params.social }}
        <a class="navbar-item is-hidden-mobile" href="{{ .url }}" target="_blank">
          <span class="icon">
            <i class="fa {{ .fa_icon }}"></i>
          </span>
        </a>
        {{ end }}
      </div>
    </div>
  </div>
</nav>
