{{ if where .c.Data.Pages "Section" .PaginateSection }}
<section class="section">
  <div class="container posts-paginator">
    <h2 class="title center"><a href="{{ .c.Site.BaseURL }}{{ .PaginateSection }}">{{ title .PaginateSection }}</a></h2>
    <div class="content">
      <div class="container paginate">
        {{ $paginator := .c.Paginate (where .c.Data.Pages "Section" .PaginateSection) }}
        {{ range $paginator.Pages }}
        <div class="box">
          <article>
            <h3 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h3>
            <h4 class="subtitle is-5">
              {{ if eq (.Date.Format "January 2, 2006") (.Lastmod.Format "January 2, 2006") }}
              {{ .Date.Format "January 2, 2006" }}
              {{ else }}
              {{ .Date.Format "January 2, 2006" }} - {{ .Lastmod.Format "January 2, 2006" }}
              {{ end }}
            </h4>
            {{ if .Params.tags }}
              {{ partial "tags" .Params.tags }}
            {{ end }}
            <div class="content">
              {{ .Summary | plainify | safeHTML }}
              {{ if .Truncated }}
              ...<a class="button is-text" href="{{ .Permalink }}" style="height:20px">
                Read more
                <span class="icon is-small">
                  <i class="fa fa-angle-double-right"></i>
                </span>
              </a>
              {{ end }}
            </div>
          </article>
        </div>
        {{ end }}
      </div>
    </div>
</section>
{{ end }}
