<a class="button is-white" href="https://www.facebook.com/sharer/sharer.php?u={{ .RelPermalink }}" title="Share on Facebook" target="_blank"><span class="fa fa-facebook fa-2x" aria-hidden="true"></span></a>
<a class="button is-white" href="https://plus.google.com/share?url={{ .RelPermalink }}" title="Share on Google+" target="_blank"><span class="fa fa-google-plus fa-2x" aria-hidden="true"></span></a>
<a class="button is-white" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .RelPermalink }}" title="Share on LinkedIn" target="_blank"><span class="fa fa-linkedin fa-2x" aria-hidden="true"></span></a>
<a class="button is-white" href="https://twitter.com/home?status={{ .Title }} - {{ .RelPermalink }}" title="Tweet this" target="_blank"><span class="fa fa-twitter fa-2x"></span></a>
<a class="button is-white" href="http://www.reddit.com/submit?url={{ .RelPermalink }}&title={{ .Title }}" title="Share on Reddit" target="_blank"><span class="fa fa-reddit-alien fa-2x" aria-hidden="true"></span></a>
<!-- <a class="button is-white" href="mailto:?subject={{ .Title }}&body={{ .Content }}" title="Share via Email" target="_blank"><span class="fa fa-envelope fa-2x" aria-hidden="true"></span></a> -->
</div>
