{{ if .IsHome }}
<script type="application/ld+json">
[
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "@id": {{ .Site.BaseURL | jsonify | safeJS }},
    "url": {{ .Site.BaseURL | jsonify | safeJS }},
    "author": {
      "@id": {{ (printf "%s%s" .Site.BaseURL "#author") | jsonify | safeJS }}
    },
    {{ if .Site.Params.description }}
    "description": {{ .Site.Params.description | chomp | jsonify | safeJS }},
    {{ end }}
    {{ with .Site.Params.image }}
    "image": {
      "@type": "ImageObject",
      "url": {{ .url | absURL | jsonify | safeJS }}
    },
    {{ end }}
    {{ with .Site.Params.logo }}
    "thumbnailUrl": {{ .url | absURL | plainify | jsonify | safeJS }},
    {{ end }}
    {{ with .Site.Copyright }}
    "license": {{ . | safeHTML | markdownify | plainify | jsonify | safeJS }},
    {{ end }}
    "name": "{{ .Site.Title }}"
  },
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "@id": {{ (printf "%s%s" .Site.BaseURL "#author") | jsonify | safeJS }},
    "name": "{{ .Site.Params.Author }}",
    "image": {
      "@type": "ImageObject",
      "url": {{ (printf "%s%s" .Site.BaseURL "img/face.png") | jsonify | safeJS }}
    }
  },
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": {{ .Site.BaseURL | jsonify | safeJS }},
          "name": "TOP"
        }
      }
    ]
  }
]
</script>
{{ else }}
  {{if eq .Section "posts" }}
<script type="application/ld+json">
[
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "@id": {{ .Permalink | jsonify | safeJS }},
    "headline": "{{ .Title }}",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ .Permalink | jsonify | safeJS }}
    },
    {{ if .Params.ogimage }}
     "image": {
      "@type": "ImageObject",
      "url": {{ .Params.ogimage | absURL | jsonify | safeJS }}
    },
    {{ end }}
    "genre": "{{ .Type }}",
    {{ with .Params.tags }}
    "keywords": "{{ delimit . ", " }}",
    {{ end }}
    "url": {{ .Permalink | jsonify | safeJS }},
    {{ if not .PublishDate.IsZero }}
    "datePublished": {{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | safeHTML | jsonify | safeJS }},
    {{ else if not .Date.IsZero }}
    "datePublished": {{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML | jsonify | safeJS }},
    {{ end }}
    {{ with .Lastmod }}
    "dateModified": {{ .Format "2006-01-02T15:04:05-07:00" | safeHTML | jsonify | safeJS }},
    {{ end }}
    {{ with .Site.Copyright }}
    "license": {{ . | safeHTML | markdownify | plainify | jsonify | safeJS }},
    {{ end }}
    {{ if .Params.author }}
    "author": {
      "@type": "Person",
      "name": {{ .Params.author | safeHTML | jsonify | safeJS }}
    },
    {{ else if .Params.authors }}
    {{- $scratch := newScratch -}}
    {{- $scratch.Add "authors" slice | safeJS -}}
    {{- range $author := .Params.authors -}}
      {{- $scratch.Add "authors" (dict "@type" "Person" "name" $author) | safeJS -}}
    {{- end -}}
    "author": {{ $scratch.Get "authors" | jsonify | safeJS }},
    {{ else }}
    "author": {
      "@type": "Person",
      "@id": {{ (printf "%s%s" .Site.BaseURL "#author") | jsonify | safeJS }}
    },
    {{ end }}
    {{ if .Params.publisher }}
    "publisher": {
      "@type": "Organization",
      {{ if .Params.publisher.id }}
      "@id": {{ .Params.publisher.id | jsonify | safeJS }},
      {{ else if .Params.publisher.logo }}
      "logo": {
        "@type": "ImageObject",
        "url": {{ .Params.publisher.logo }}
      },
      {{ end }}
      "name": {{ .Params.publisher.name | safeHTML | plainify | jsonify | safeJS }}
    },
    {{ else }}
    "publisher": {
      "@type": "Person",
      "@id": {{ (printf "%s%s" .Site.BaseURL "#author") | jsonify | safeJS }},
      "image": {
        "@type": "ImageObject",
        "url": {{ .Site.Params.image.url | absURL | jsonify | safeJS }}
      }
    },
    {{ end }}
    "description": "{{ .Summary | plainify | chomp }}"
  },
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": {{ .Site.BaseURL | jsonify | safeJS }},
          "name": "TOP"
        }
      }, {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": {{ (printf "%s%s" .Site.BaseURL "posts") | jsonify | safeJS }},
          "name": "Posts"
        }
      }, {
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@id": {{ .Permalink | jsonify | safeJS }},
          "name": "{{ .Title }}"
        }
      }
    ]
  }
]
</script>
  {{ else if eq .Section "publications" }}
<script type="application/ld+json">
[
  {
    "@context": "http://schema.org",
    "@type": "ScholarlyArticle",
    "@id": {{ .Permalink | jsonify | safeJS }},
    "headline": "{{ .Title }}",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ .Permalink | jsonify | safeJS }}
    },
    {{ if .Params.ogimage }}
     "image": {
      "@type": "ImageObject",
      "url": {{ .Params.ogimage | absURL | jsonify | safeJS }}
    },
    {{ end }}
    "genre": "{{ .Type }}",
    {{ with .Params.tags }}
    "keywords": "{{ delimit . ", " }}",
    {{ end }}
    "url": {{ .Permalink | jsonify | safeJS }},
    {{ if not .PublishDate.IsZero }}
    "datePublished": {{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | safeHTML | jsonify | safeJS }},
    {{ else if not .Date.IsZero }}
    "datePublished": {{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML | jsonify | safeJS }},
    {{ end }}
    {{ with .Lastmod }}
    "dateModified": {{ .Format "2006-01-02T15:04:05-07:00" | safeHTML | jsonify | safeJS }},
    {{ end }}
    {{ with .Site.Copyright }}
    "license": {{ . | safeHTML | markdownify | plainify | jsonify | safeJS }},
    {{ end }}
    {{ if .Params.author }}
    "author": {
      "@type": "Person",
      "name": "{{ .Params.author | safeHTML | jsonify | safeJS }}"
    },
    {{ else if .Params.authors }}
    {{- $scratch := newScratch -}}
    {{- $scratch.Add "authors" slice | safeJS -}}
    {{- range $author := .Params.authors -}}
      {{- $scratch.Add "authors" (dict "@type" "Person" "name" $author) | safeJS -}}
    {{- end -}}
    "author": {{ $scratch.Get "authors" | jsonify | safeJS }},
    {{ end }}
    {{ if .Params.publisher }}
    "publisher": {
      "@type": "Organization",
      {{ if .Params.publisher.id }}
      "@id": {{ .Params.publisher.id | jsonify | safeJS }},
      {{ end }}
      {{ if .Params.publisher.logo }}
      "logo": {
        "@type": "ImageObject",
        "url": {{ .Params.publisher.logo }}
      },
      {{ end }}
      "name": {{ .Params.publisher.name | safeHTML | plainify | jsonify | safeJS }}
    },
    {{ end }}
    "description": {{ .Summary | plainify | chomp }}
  },
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": {{ .Site.BaseURL | jsonify | safeJS }},
          "name": "TOP"
        }
      }, {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": {{ (printf "%s%s" .Site.BaseURL "publications") | jsonify | safeJS }},
          "name": "Publications"
        }
      }, {
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@id": {{ .Permalink | jsonify | safeJS }},
          "name": "{{ .Title }}"
        }
      }
    ]
  }
]
</script>
  {{ else if eq .Section "projects" }}
<script type="application/ld+json">
[
  {
    "@context": "http://schema.org",
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify | safeJS }},
    "headline": "{{ .Title }}",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ .Permalink | jsonify | safeJS }}
    },
    {{ if .Params.ogimage }}
     "image": {
      "@type": "ImageObject",
      "url": {{ .Params.ogimage | absURL | jsonify | safeJS }}
    },
    {{ end }}
    "genre": "{{ .Type }}",
    {{ with .Params.tags }}
    "keywords": "{{ delimit . ", " }}",
    {{ end }}
    "url": {{ .Permalink | jsonify | safeJS }},
    {{ if not .PublishDate.IsZero }}
    "datePublished": {{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | safeHTML | jsonify | safeJS }},
    {{ else if not .Date.IsZero }}
    "datePublished": {{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML | jsonify | safeJS }},
    {{ end }}
    {{ with .Lastmod }}
    "dateModified": {{ .Format "2006-01-02T15:04:05-07:00" | safeHTML | jsonify | safeJS }},
    {{ end }}
    {{ with .Site.Copyright }}
    "license": {{ . | safeHTML | markdownify | plainify | jsonify | safeJS }},
    {{ end }}
    {{ if .Params.author }}
    "author": {
      "@type": "Person",
      "name": {{ .Params.author | safeHTML | jsonify | safeJS }}
    },
    {{ else if .Params.authors }}
    {{- $scratch := newScratch -}}
    {{- $scratch.Add "authors" slice | safeJS -}}
    {{- range $author := .Params.authors -}}
      {{- $scratch.Add "authors" (dict "@type" "Person" "name" $author) | safeJS -}}
    {{- end -}}
    "author": {{ $scratch.Get "authors" | jsonify | safeJS }},
    {{ else }}
    "author": {
      "@type": "Person",
      "@id": {{ (printf "%s%s" .Site.BaseURL "#author") | jsonify | safeJS }}
    },
    {{ end }}
    {{ if .Params.publisher }}
    "publisher": {
      "@type": "Organization",
      {{ if .Params.publisher.id }}
      "@id": {{ .Params.publisher.id | jsonify | safeJS }},
      {{ else if .Params.publisher.logo }}
      "logo": {
        "@type": "ImageObject",
        "url": {{ .Params.publisher.logo }}
      },
      {{ end }}
      "name": {{ .Params.publisher.name | safeHTML | plainify | jsonify | safeJS }}
    },
    {{ else }}
    "publisher": {
      "@type": "Person",
      "@id": {{ (printf "%s%s" .Site.BaseURL "#author") | jsonify | safeJS }},
      "image": {
        "@type": "ImageObject",
        "url": {{ .Site.Params.image.url | absURL | jsonify | safeJS }}
      }
    },
    {{ end }}
    "description": "{{ .Summary | plainify | chomp }}"
  },
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": {{ .Site.BaseURL | jsonify | safeJS }},
          "name": "TOP"
        }
      }, {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": {{ (printf "%s%s" .Site.BaseURL "projects") | jsonify | safeJS }},
          "name": "Projects"
        }
      }, {
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@id": {{ .Permalink | jsonify | safeJS }},
          "name": "{{ .Title }}"
        }
      }
    ]
  }
]
</script>
  {{ end }}
{{ end }}
