{{ if .IsTranslated }}
<div class="notification is-info">
  <button class="delete"></button>
  <script>
  document.addEventListener('DOMContentLoaded', () => {
    (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
      $notification = $delete.parentNode;
      $delete.addEventListener('click', () => {
        $notification.classList.add('is-deleted');
        while($notification.firstChild) {
          $notification.removeChild($notification.firstChild);
        }
      });
    });
  });
  </script>
  <div class="translations">
    <span class="subtitle">Translations Available</span>
    <ul>
        {{ range .Translations }}
        <li>
            <a href="{{ .RelPermalink }}">
              {{ if (eq .Lang "en") }}
                English
              {{ else }}
                日本語
              {{ end }}
              {{ if .IsPage }}: {{ .Title }}{{ end }}</a>
        </li>
        {{ end}}
    </ul>
  </div>
</div>
{{ end }}
